.App {
  text-align: center;
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.App-container {
  display: flex;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  margin-top: 2vh;
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60vh;
}